policy_module(hexogen, 1.100.1)

########################################
#
# Declarations
#

type hexogen_t;
type hexogen_exec_t;
init_daemon_domain(hexogen_t, hexogen_exec_t)

permissive hexogen_t;

type hexogen_initrc_exec_t;
init_script_file(hexogen_initrc_exec_t)

type hexogen_conf_t;
files_type(hexogen_conf_t)

type hexogen_var_lib_t;
files_type(hexogen_var_lib_t)

type hexogen_var_run_t;
files_type(hexogen_var_run_t)

type hexogen_port_t;
corenet_port(hexogen_port_t)

########################################
#
# hexogen local policy
#
allow hexogen_t self:process { fork };

allow hexogen_t self:fifo_file rw_fifo_file_perms;
allow hexogen_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(hexogen_t, hexogen_conf_t, hexogen_conf_t)
manage_files_pattern(hexogen_t, hexogen_conf_t, hexogen_conf_t)

manage_dirs_pattern(hexogen_t, hexogen_var_lib_t, hexogen_var_lib_t)
manage_files_pattern(hexogen_t, hexogen_var_lib_t, hexogen_var_lib_t)
files_var_lib_filetrans(hexogen_t, hexogen_var_lib_t, { dir file })

manage_dirs_pattern(hexogen_t, hexogen_var_run_t, hexogen_var_run_t)
manage_files_pattern(hexogen_t, hexogen_var_run_t, hexogen_var_run_t)

sysnet_dns_name_resolve(hexogen_t)
corenet_all_recvfrom_unlabeled(hexogen_t)

allow hexogen_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(hexogen_t)
corenet_tcp_sendrecv_generic_node(hexogen_t)
corenet_tcp_sendrecv_all_ports(hexogen_t)
corenet_tcp_bind_generic_node(hexogen_t)

gen_require(`
    type hexogen_port_t;
')
allow hexogen_t hexogen_port_t:tcp_socket name_bind;

gen_require(`
    type hexogen_port_t;
')
allow hexogen_t hexogen_port_t:tcp_socket name_connect;

domain_use_interactive_fds(hexogen_t)

files_read_etc_files(hexogen_t)

miscfiles_read_localization(hexogen_t)

sysnet_dns_name_resolve(hexogen_t)

allow hexogen_t hexogen_exec_t:file execute_no_trans;
allow hexogen_t self:process setsched;
corecmd_exec_ls(hexogen_t)
corenet_tcp_connect_http_port(hexogen_t)
dev_read_urand(hexogen_t)
fs_getattr_xattr_fs(hexogen_t)
kernel_read_system_state(hexogen_t)
